.item {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 20px;
  display: grid;
  grid-template-columns: min-content 2fr 1.5fr 4fr min-content;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.part {
  font-style: italic;
}

.definition {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.definition,
.part,
.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.star {
  background-image: url(./../../images/star_border.svg);
  background-color: transparent;
}

.burger {
  background-image: url(./../../images/headline.svg);
  background-color: transparent;
}

.star,
.burger {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

.star__active {
  background-image: url(./../../images/star_black.svg);
}

@media (pointer: fine) {
  .star,
  .burger {
    cursor: pointer;
  }
}
