.item {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 20px;
  display: grid;
  grid-template-columns: min-content 2fr 1.5fr 4fr min-content;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.part {
  font-style: italic;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.definition {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.star {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background-color: #000;
  outline: none;
}
